# Pandas loc

## Access a group of rows and columns by label(s) or a boolean array

## syntax : DataFrame.loc[]

In [2]:
import pandas as pd

In [4]:
pd1 = pd.read_csv("D:\DATA\student_2.csv")
pd1

   Student ID  Class  Study hrs  Media hrs  Percentage
0        1001     10          2          3          50
1        1002     10          6          2          80
2        1003     10          3          2          60
3        1004     11          0          1          45
4        1005     12          5          2          75

In [5]:
pd1.loc[0]

Student ID    1001
Class           10
Study hrs        2
Media hrs        3
Percentage      50
Name: 0, dtype: int64

In [6]:
pd1.loc[4]

Student ID    1005
Class           12
Study hrs        5
Media hrs        2
Percentage      75
Name: 4, dtype: int64

In [7]:
pd1.loc[[0,1]]

   Student ID  Class  Study hrs  Media hrs  Percentage
0        1001     10          2          3          50
1        1002     10          6          2          80

In [9]:
pd1.loc[[1,2,3,4]]

   Student ID  Class  Study hrs  Media hrs  Percentage
1        1002     10          6          2          80
2        1003     10          3          2          60
3        1004     11          0          1          45
4        1005     12          5          2          75

In [10]:
pd1.loc[4,'Class']

# here loc[row,column] like matrix

12

In [11]:
pd1.loc[3,'Percentage']

45

In [12]:
pd1.loc[0:3, 'Class']

0    10
1    10
2    10
3    11
Name: Class, dtype: int64

In [13]:
pd1.loc[2:4, 'Study hrs']

2    3
3    0
4    5
Name: Study hrs, dtype: int64

In [14]:
pd1.loc[0:2 , 'Percentage']

0    50
1    80
2    60
Name: Percentage, dtype: int64

In [18]:
pd1.loc[[False, False, True]]

IndexError: Boolean index has wrong length: 3 instead of 5

In [20]:
pd1.loc[pd1['Class']<11]

   Student ID  Class  Study hrs  Media hrs  Percentage
0        1001     10          2          3          50
1        1002     10          6          2          80
2        1003     10          3          2          60

In [21]:
pd1.loc[pd1['Percentage']<60]

   Student ID  Class  Study hrs  Media hrs  Percentage
0        1001     10          2          3          50
3        1004     11          0          1          45

In [22]:
pd1.loc[pd1['Class']<11, ['Percentage']]

   Percentage
0          50
1          80
2          60

# Pandas iloc

## Inter location-based indexing

## Syntax : DataFrame.iloc[]

In [24]:
pd1

   Student ID  Class  Study hrs  Media hrs  Percentage
0        1001     10          2          3          50
1        1002     10          6          2          80
2        1003     10          3          2          60
3        1004     11          0          1          45
4        1005     12          5          2          75

In [23]:
pd1.iloc[0]

Student ID    1001
Class           10
Study hrs        2
Media hrs        3
Percentage      50
Name: 0, dtype: int64

In [25]:
pd1.iloc[[0]]

   Student ID  Class  Study hrs  Media hrs  Percentage
0        1001     10          2          3          50

In [26]:
pd1.iloc[:,0]

0    1001
1    1002
2    1003
3    1004
4    1005
Name: Student ID, dtype: int64

In [28]:
pd1.loc[:,0]

# loc doesnot allow this method

KeyError: 0

In [29]:
pd1.iloc[[0,1]]

   Student ID  Class  Study hrs  Media hrs  Percentage
0        1001     10          2          3          50
1        1002     10          6          2          80

In [30]:
pd1.iloc[[True, False, True]]

IndexError: Boolean index has wrong length: 3 instead of 5