# Pandas Join() Function

## DataFrame join is a convenient method for combining the columns of two potentially differently-indexed

## Syntax : DataFrame.join()

## Parameter: other, how, on, lsuffix, rsuffix

In [1]:
import pandas as pd

In [2]:
df1  = pd.DataFrame({'A': [1,2,3],
                    'B': [10,20,30]},
                   index = ['a','b','c'])
df1

   A   B
a  1  10
b  2  20
c  3  30

In [3]:
df2  = pd.DataFrame({'C': [4,5,6],
                    'D': [40,50,60]},
                   index = ['a','b','c',])

df2

   C   D
a  4  40
b  5  50
c  6  60

In [4]:
df1.join(df2)

   A   B  C   D
a  1  10  4  40
b  2  20  5  50
c  3  30  6  60

In [5]:
df2.join(df1)

   C   D  A   B
a  4  40  1  10
b  5  50  2  20
c  6  60  3  30

In [6]:
df3  = pd.DataFrame({'A': [1,2,3],
                    'B': [10,20,30]},
                   index = ['a','b','c'])

df3

   A   B
a  1  10
b  2  20
c  3  30

In [7]:
df4  = pd.DataFrame({'C': [4,5,6],
                    'D': [40,50,60]})

df4

# both DataFrames must have same index 
# by default index is [0,1,2,3,---]
#because if they have diiferent index then they return NaN

   C   D
0  4  40
1  5  50
2  6  60

In [8]:
df3.join(df4)

   A   B   C   D
a  1  10 NaN NaN
b  2  20 NaN NaN
c  3  30 NaN NaN

In [9]:
df4.join(df3)

   C   D   A   B
0  4  40 NaN NaN
1  5  50 NaN NaN
2  6  60 NaN NaN

In [10]:
df1

   A   B
a  1  10
b  2  20
c  3  30

In [11]:
df5  = pd.DataFrame({'C': [4,5],
                    'D': [40,50]},
                   index = ['a','b'])

df5

   C   D
a  4  40
b  5  50

In [12]:
df1.join(df5)

   A   B    C     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN

In [13]:
df1.join(df5, how = 'right')

# how = left is by default

   A   B  C   D
a  1  10  4  40
b  2  20  5  50

In [14]:
df1.join(df5, how = 'inner')

# inner is same as right

   A   B  C   D
a  1  10  4  40
b  2  20  5  50

In [15]:
df1.join(df5, how = 'outer')

#outer is same as left

   A   B    C     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN

In [16]:
df1

   A   B
a  1  10
b  2  20
c  3  30

In [17]:
df6  = pd.DataFrame({'A': [4,5],
                    'D': [40,50]},
                   index = ['a','b'])

df6

   A   D
a  4  40
b  5  50

In [18]:
df1.join(df6)

ValueError: columns overlap but no suffix specified: Index(['A'], dtype='object')

## to join same name columns we use lsuffix and rsuffix

In [19]:
df1.join(df6, lsuffix = '_1')

   A_1   B    A     D
a    1  10  4.0  40.0
b    2  20  5.0  50.0
c    3  30  NaN   NaN

In [20]:
df1.join(df6, rsuffix = '_1')

   A   B  A_1     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN